<div class="footer">
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <div class="sub-footer">
          <div class="row">
            <div class="col-lg-12">
              <p>
                Copyright © 2022 Liberty NFT Marketplace Co., Ltd. All rights reserved.
                <br>Designed by <a title="HTML CSS Templates" rel="sponsored" href="https://templatemo.com" target="_blank">TemplateMo</a>
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
