<div class="hot-collections-section">
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <div class="section-heading text-center">
          <div class="line-dec"></div>
          <h2>Explore Some Hot <span class="gradient-text">Collections</span> In Market.</h2>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-4">
        <div class="collection-item">
          <div class="card">
            <img src="https://templatemo.com/templates/templatemo_577_liberty_market/assets/images/collection-01.jpg" class="card-img-top" alt="Collection Image">
            <div class="card-body">
              <h5 class="card-title">Worldwide Artwork Ground</h5>
              <div class="item-details">
                <div class="items-count">
                  Items In Collection:
                  <br>
                  <span>426/468</span>
                </div>
                <div class="category">
                  Category:
                  <br>
                  <span>Blockchain</span>
                </div>
              </div>
              <a href="#" class="btn btn-primary btn-lg">Explore Worldwide</a>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-4">
        <div class="collection-item">
          <div class="card">
            <img src="https://templatemo.com/templates/templatemo_577_liberty_market/assets/images/collection-01.jpg" class="card-img-top" alt="Collection Image">
            <div class="card-body">
              <h5 class="card-title">Mutant Bored Ape Yacht Club</h5>
              <div class="item-details">
                <div class="items-count">
                  Items In Collection:
                  <br>
                  <span>310/340</span>
                </div>
                <div class="category">
                  Category:
                  <br>
                  <span>Digital Crypto</span>
                </div>
              </div>
              <a href="#" class="btn btn-primary btn-lg">Explore Mutant</a>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-4">
        <div class="collection-item">
          <div class="card">
            <img src="https://templatemo.com/templates/templatemo_577_liberty_market/assets/images/collection-01.jpg" class="card-img-top" alt="Collection Image">
            <div class="card-body">
              <h5 class="card-title">Bored Ape Kennel Club</h5>
              <div class="item-details">
                <div class="items-count">
                  Items In Collection:
                  <br>
                  <span>324/324</span>
                </div>
                <div class="category">
                  Category:
                  <br>
                  <span>Visual Art</span>
                </div>
              </div>
              <a href="#" class="btn btn-primary btn-lg">Explore Bored Ape</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
